manifests/otel-collector/private-*
manifests/grafana-agent/private-*
manifests/sample-instrumented-applications/kepler/private-*
manifests/sample-instrumented-applications/kepler/opentelemetry-operator/private-*
*ca.crt
**/private*
